
.container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    background: url('https://img.freepik.com/free-photo/red-light-round-podium-black-background-mock-up_43614-950.jpg?w=740&t=st=1692544512~exp=1692545112~hmac=49895eddec5cb2311a6a0b8f50438cdb15040db645ab4f17703428ca713ba9af') no-repeat;
    background-size: cover;
}
ion-item:first-child{
    margin-bottom: 10px;
}
.login-button{
    margin: 30px 0 15px 0;
}

ion-item{
    border-radius: 4px;
    opacity: 0.8;
    background: transparent;
}
.input{
    background: transparent;
}