<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">

    <ion-card routerLink="/products">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/bookshop-concept-illustration_114360-2734.jpg?w=740&t=st=1692591351~exp=1692591951~hmac=5e1963560f1a287d96dcbf47fd648cc985fa0504a303a367f1fb494beadbf29e" />
      <ion-card-header>
        <ion-card-title>Products</ion-card-title>
        <ion-card-subtitle>find and buy products</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>


    <ion-card routerLink="/orders">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/online-shopping-concept-illustration_114360-1084.jpg?w=740&t=st=1692592494~exp=1692593094~hmac=91d4bc180676109543f31b459988c49f44a63d87a28d05fd66f20a1fb7fe0fde" />
      <ion-card-header>
        <ion-card-title>My Orders</ion-card-title>
        <ion-card-subtitle>find your orders here</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/location">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/location-review-concept-illustration_114360-4367.jpg?w=740&t=st=1692591444~exp=1692592044~hmac=73ead6a146fd8c8f2ff94e9e7fb9b1a2485123e3b9cc0013490cdddd3cd60e39" />
      <ion-card-header>
        <ion-card-title>My Location</ion-card-title>
        <ion-card-subtitle>find your location</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
