
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg?w=740&t=st=1692537939~exp=1692538539~hmac=f6d5c8c57e21cae3d2bf12982c28b015e1c84ea8cd6f424e0b9552d5c18b1814') no-repeat;
    background-size: cover;
    flex-direction: column;
}